body {
	text-align: center;
	margin: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

h1, h2 {
	font-family: "Raleway";
	letter-spacing: 1px;
}

a {
	font-family: "Raleway";
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}

h1 {
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

h2 {
	color: #0D2C40;
	font-size: 20px;
	font-weight: 600;
}

p {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px;
}

main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 40px 8px;
	max-width: 100%;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.container {
	flex: 1;
}

.copyright {
	font-family: "Raleway";
	float:left;
}

.message {
	font-family: "Raleway";
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

.menuoption {
	background-color: #00A6B3;
	border: 2px solid white;
	padding: 10px 0;
	font-family: "Raleway";
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 250;
	width: 500px;
	display: inline-block;
}

.menuoption:hover {
  background: #F15B31;
  border-color: #F15B31;
  color: white;
  transform: scale(1.02);
}

.difoption {
	background-color: #00A6B3;
	border: 2px solid white;
	padding: 10px 0;
	font-family: "Raleway";
	color: white;
	font-size: 12px;
	letter-spacing: .08em;
	font-weight: 200;
	width: 300px;
	margin: auto;
	display: none;
}

.difoption:hover {
	background: #F15B31 !important;
  	border-color: #F15B31;
  	color: white;
  	transform: scale(1.02);
}

#gameboard {
	flex-direction: column;
	height: auto;
	width: auto;
}

#score {
	font-family: "Raleway";
	font-size: 20px;
	font-weight: 800;
	color: #0D2C40;
	letter-spacing: .06em;
	padding: 10px;
	border: 10px solid transparent;

}